h1 {
    text-align: center;
}
body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 3%, rgba(148,187,233,1) 100%); 
}
p {
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid

}